
h1 {
    text-align: center;
    font-family: fantasy;
}

h2 {
    text-align: center;
}

p {
    text-align:center;
}


.jumbotron {
    color: #eeeee;
    background-color: #dac463;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


body {
    background-color: #dac463;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



img:hover {
  cursor: url('https://img.icons8.com/clouds/64/000000/define-location.png'), auto;
}

.endPoints {
background-color: white;
background-image: url("https://www.lagerhaus.se/pub_images/large/81847143.jpg");
background-repeat: no-repeat;
font-size: 200%;
text-align: center;
h2-align: center;
background-position: center;

}
