<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <title>end</title>
</head>
<body>
<div id="endPoints">
        <h1 class="display-4">The End</h1>
        <h1 th:text="'Your points are ' + ${points}"></h1>
    <a href="/">
        <button type="button" class="btn btn-secondary btn-lg btn-block">Start over</button>
    </a>
    </div>
</body>
</html>
