<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <title>end</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">The End</h1>
    </div>

    <div id="endPoints">

    <h2>Your points are</h2>
    <p th:text="${points}"></p>
    </div>

    <h1>THE END</h1>
    <a href="/play">
        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
    </a>
</body>
</html>
