<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <title>end</title>
</head>

<body class="endbody">
<div class="endPoints">
    <br><br>
        <h1 th:text="'WOW'"></h1>
    <br>


    <h1 th:text="'You scored ' + ${points} + ' out of ' + ${session.totalquestions} + ' points!'"></h1>
    <br><br>

    <a href="/register">
        <button type="button" class="btn btn-info btn-lg btn-block">Register!</button>

    </a>


    <a href="/">
        <button type="button" class="btn btn-info btn-lg btn-block">Start Over</button>
    </a>


</div>
<br>
<img src="https://media.giphy.com/media/VCPN01ueXTI6cGDblk/giphy.gif" class="center">

</body>
</html>
