<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">

    <title>Play</title>
</head>
<body>

<audio autoplay>
    <source src="../static/Thinking Music.mp3" th:src ="'/Thinking Music.mp3'" type="audio/mpeg">
</audio>


<!-- Display the countdown timer in an element -->
<p id="demo"></p>

<div class="timer" style="font-size: 30px;">
<script>

// Set the date we're counting down to
var countDownDate = new Date().getTime()+12000;

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);


  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "";
    window.location="play"
  }
}, 1000);
</script>
</div>

<embed name="GoodEnough" src="Thinking.mp3" loop="false" hidden="true" autostart="true">

<div class="jumbotron jumbotron-fluid">

<h1 th:text="'FRÅGA ' + ${session.questionnow} + ' av ' + ${session.totalquestions}"></h1><br>
    <h1 th:text="${session.question.question}"></h1><br>

<form action="play" method="post">
    <div class="playbuttons">
        <button id="buttonStyle" type="submit" class="btn btn-outline-primary btn-lg btn-block" name="answer" th:value="${session.question.answer1}">
            <img src="https://media1.tenor.com/images/56b56daad40e1aff32f402a2988d5aec/tenor.gif?itemid=5458806" width="200"/>
            <span th:text="'A: ' + ${session.question.answer1}"></span>
        </button>
        <button type="submit" class="btn btn-outline-success btn-lg btn-block" th:text="'B: ' + ${session.question.answer2}" name="answer" th:value="${session.question.answer2}">
        </button>
        <button id="buttonStyle"  type="submit" class="btn btn-outline-danger btn-lg btn-block" name="answer" th:value="${session.question.answer3}">
            <img src="https://media1.tenor.com/images/ce26ac397822ae7759f28536ba442250/tenor.gif?itemid=4135108" width="200"/>
            <span th:text="'C: ' + ${session.question.answer3}"></span>
        </button>
        <button type="submit" class="btn btn-outline-dark btn-lg btn-block" th:text="'D: ' + ${session.question.answer4}" name="answer" th:value="${session.question.answer4}">

        </button>
    </div>
</form>




    <br>
    <p>Please remember that the time is ticking... <br> However, you should remain calm during the quiz to enjoy the game to the max.</p>
    <br>

    <h1>Quiz Master 3000: Academy version</h1>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
