<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">

    <title>Play</title>
</head>
<body>

<h1>TEST PLAY</h1>


<div class="progress">
    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<p th:text="'Fråga: ' + ${session.question.question}"></p>

<button type="button" class="btn btn-success" th:text="'A: ' + ${session.question.answer1}"></button><br>
<button type="button" class="btn btn-danger" th:text="'B: ' + ${session.question.answer2}"></button><br>
<button type="button" class="btn btn-warning" th:text="'C: ' + ${session.question.answer3}"></button><br>
<button type="button" class="btn btn-info" th:text="'D: ' + ${session.question.answer4}"></button><br>



</body>
</html>