<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register an account</title>
</head>
<body>

<form action="/register" method="POST" th:object="${user}">

    <input type="hidden" th:if="${user != null}" th:field="*{id}"/><br>
    Username<input type="text" th:field="*{name}"/><br>
    Email<input type="email" th:field="*{email}"/><br>
    Password<input type="password" th:field="*{password}"/><br>

    <input type="submit" value="Save"/>

</form>

</body>
</html>