<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register an account</title>
</head>
<body>

<form action="/play" method="POST" th:object="${user}">
    <input type="hidden" th:if="${user != null}" th:field="*{id}"/>
    Username<input type="text" th:field="*{name}"/>
    Email<input type="email" th:field="*{email}"/>
    Password<input type="password" th:field="*{password}"/>
    <input type="submit"/>
</form>


</body>
</html>