<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>QuizMaster3000</title>
</head>
<body>

<br>
<img src="https://media2.giphy.com/media/1xH5CTi3BBBM4/giphy.gif" alt="WRONG" width="65%" height="65%" class="center"><br>
<a href="/play">
    <button type="button" class="btn btn-secondary btn-lg btn-block">Next Question</button>
</a>
</body>
</html>